[defaults]
inventory= inventory
remote_user = ubuntu
host_key_checking = no
private_key_file = ~/Downloads/jenkins.pem
vault_password_file = pass.sh 

[privilege_escalation]
become = yes
become_method = sudo
become_user = root
become_ask_pass = no
