upstream {{ inventory_hostname }}{
    server 127.0.0.1:{{ port }};
}

server{
    listen      80;
    server_name {{ domain_hostname }};

    access_log  /var/log/nginx/{{ inventory_hostname }}.access.log;
    error_log   /var/log/nginx/{{ inventory_hostname }}.error.log;

    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    location / {
        proxy_pass  http://{{ inventory_hostname }};
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect off;

        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto https;
    }

}
